*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #131312;
    font-family: 'Poppings',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

}
header{
    width: 100%;
    height: 100%;
    /* border: 1px solid #fff; */
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
header .menu_slide , .song_slide{
     
        position: relative;
        width: 25%;
        height: 90%;
        /* border:1px solid #fff; */
        background-color: #111727;
        box-shadow: 5px 0px 2px #090f1f;
        color: #fff;
}
header .song_slide
{
    width: 75%;
    background: #0b1320;
}

header .master_play{
    width: 100%;
    height: 10%;
    background: #111727;
    box-shadow: 0px 3px 8px #090f1f;
}
header .menu_slide h1 img {
    height: 40px;
    margin: 25px 0px 0px 20px;
    font-weight: 500;
}
header .menu_slide .playlist{
    margin: 25px 0px 0px 20px;
}

header .menu_slide .playlist  h4{
    font-size: 17px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #4c5262;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .3s linear;
}
header .menu_slide .playlist  h4 a{
   text-decoration: none;
   color: #4c5262;
   
}
header .menu_slide h6{
    display: none;
}
header .menu_slide .playlist  h4:hover{
    color: #fff;
}

header .menu_slide .playlist  h4 span{
  position: relative;
  margin-right: 35px;
}

header .menu_slide .playlist  h4 span::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid #4c5262;
    border-radius: 50%;
    top: -4px;
    transition: .3s linear;
}

header .menu_slide .playlist  h4:hover span::before{
    border: 2px solid #fff;
   
}
  
header .menu_slide .playlist  h4 .bi{
   display: none;
}
 
header .menu_slide .playlist .active{
    color: #36e2ec;
   
}
  
header .menu_slide .playlist .active span{
    display: none;
   
}
  
header .menu_slide .playlist .active .bi{
    display: flex;
    margin-right: 20px;
   
}
  
header .menu_slide .menu_song{
    width: 100%;
    height: 420px;
    /* border: 1px solid #fff; */
    margin-top: 20px;
}
  
header .menu_slide .menu_song li {
  position: relative;
  list-style-type: none;
  padding: 5px 0px 5px 20px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  transition:  .3s linear;
}
  
header .menu_slide .menu_song li:hover {
  background: rgb(105, 105 ,170,.1);
}

header .menu_slide .menu_song li span{
    font-size: 12px;
    font-weight: 600;
    color: #4c5262;
}
header .menu_slide .menu_song li img{
    width: 60px;
    height: 55px;
    margin-left: 25px;

}
header .menu_slide .menu_song li h5{
    font-size: 14px;
    margin-left: 15px;
    letter-spacing: .2px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header .menu_slide .menu_song li h5 .subtitle{
    font-size: 10px;
    color: #4c5262;
}
header .menu_slide .menu_song li .bi{
    font-size: 18px;
    position: absolute;
    right: 15px;
    top: 6px;
}

header .master_play{
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

header .master_play .wave{
    width: 40px;
    height: 40px;
    /* border: 1px solid #fff; */
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}


header .master_play .wave .wave1{
    width: 4px;
    height: 20px;
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px;
    background: #36e2ec;
    animation: unset;
}

header .master_play .wave .wave1:nth-child(2){
    height: 13px;
    /* animation-delay: .10s; */
}

header .master_play .wave .wave:nth-child(3){
    height: 8px;
    /* animation-delay: .8s; */
}

/* javascript class wave  */
header .master_play .active2 .wave1{
    animation: wave .5s linear infinite;
}
header .master_play .active2 .wave1:nth-child(2){
    animation-delay: .10s;
}

header .master_play .active2 .wave1:nth-child(3){
    animation-delay: .8s;
}

@keyframes wave {
    0%{
        height: 10px;
    }
    50%{
        height: 20px;
    }
    100%{
        height: 10px;
    }
}

header .master_play img{
    width: 40px;
    height: 40px;
}
header .master_play h5{
    width: 130px;
    font-size: 13px;
    margin-left: 16px;
    color: #fff;
    line-height: 17px;
}
header .master_play h5 .subtitle{
    font-size: 11px;
    color:#4c5262;
}
header .master_play  .icon{
    font-size: 21px;
    color: #fff;
    margin: 0px 30px 0px 30px;
    outline: none;
    display: flex;
    align-items: center;
}
header .master_play .icon .shuffle {
    font-size: 17px;
    margin-right: 16px;
    width: 17.5px;
    overflow: hidden;
    display: flex;
    visibility: hidden;
    align-items: center;
}
header .master_play  .icon .bi{

    cursor: pointer;
    outline: none;
}

header .master_play .icon #download_music {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-left: 15px;
}

header .master_play .icon .bi:nth-child(3) {
    border: 1px solid rgb(105, 105, 105, .1);
    border-radius: 50%;
    padding: 2px 5px 0px 5px;
    margin: 0px 6px;
 }
header .master_play span{
    color: #fff;
    width: 32px;
    font-size: 13px;
    font-weight: 400;
}
header .master_play #currentStart{
    margin: 0px 0px 0px 20px;
}
header .master_play .bar{
    position: relative;
    width: 43%;
    height: 2px;
    background: rgb(105,105,170,.1);
    margin: 0px 15px 0px 10px;
}
header .master_play .bar .bar2{
    position: absolute;
    background: #36e2ec;
    width: 0%;
    height: 100%;
    top: 0;
    transition: 0.5s linear;
}
header .master_play .bar .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 0%;
    top: -1px;
    transition: 0.5s linear;

}
header .master_play .bar .dot::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    left: -5.5px;
    top: -6px;
    box-shadow: inset 0px 0px 3px #36e2ec;
}
header .master_play .bar input{
    position: absolute;
    width: 100%;
    top: -6px;
    left: 0;
    cursor: pointer;
    z-index: 99999999;
    transition: 3s linear;
    opacity: 0;
}

header .master_play .vol{

    position: relative;
    width: 150px;
    height: 2px;
    margin-left: 50px;
    background: rgb(105, 105 ,170,.1);
}
header .master_play .vol .bi{

    position: absolute;
    color: #fff;
    font-size: 25px;
    top: -12px;
    left: -30px;
}
header .master_play .vol input{
    position: absolute;
    width: 100%;
    top: 1px;
    left: 0;
    cursor: pointer;
    z-index: 99999999;
    opacity: 1;
}

/* header .master_play .vol input[type="range"]{
} */input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  height: 0.2px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(#36e2ec, #36e2ec);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  content: '';
  width: 12px;
  height: 12px;
  background: #36e2ec;
  border-radius: 50%;
  left: 100%;
  top: -4.5px;
  cursor: pointer;
  transition: 1s linear;
}

input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
header .master_play .vol .vol_bar{
    position: absolute;
    background: #36e2ec;
    width:  100%;
    height: 100%;
    top: 0;
    transition: .5s linear;
}
header .master_play .vol .dot{
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 100%;
    top: -1px;
    cursor: pointer;
    transition: 1s linear;
}
header .master_play .vol .dot::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    left: -5.5px;
    top: -6px;
    box-shadow: inset 0px 0px 3px #36e2ec;
}

header .song_slide{
    z-index: 2;
}
/* background image */
header .song_slide::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 300px;
    left: 20px;
    top: 40px;    
    background: url('../assets/artist/music.png');
    z-index: -1;
   }

header .song_slide nav{
    width: 90%;
    height: 10%;
    margin: auto;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .song_slide nav ul{
    display: flex;
}
header .song_slide nav ul li{
    position: relative;
    list-style-type: none;
    font-size: 13px;
    color:#4c5262;
    margin-right: 25px;
    cursor: pointer;
    transition: .3s linear;
}
header .song_slide nav ul li h4 a{
    text-decoration: none;
    color: #4c5262;
}

header .song_slide nav ul li :hover{
     color: #fff;
     transition: .3s linear;    
}

header .song_slide nav ul li h4 a:hover{
     color: #fff;
     transition: .3s linear;    
}

header .song_slide nav ul li a{
    color: #fff;

}
header .song_slide nav ul li span{
    position: absolute;
    width: 100%;
    height: 2.5px;
    background: #36e2ec;
    bottom: -5px;
    left: 0;
    border-radius: 20px;
}
header .song_slide nav  .search{
    position: relative;
    width: 40%;
    padding: 1px 10px;
    border-radius: 20px;
    color: gray;

    
}

header .song_slide nav  .search::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: rgb(184, 184, 184,.1);
    backdrop-filter: blur(5px);
    z-index: -1;
    
}

header .song_slide nav  .search .search_results{
    position: absolute;
    width: 100%;
    height: 230px;
    /* border: 1px solid #fff; */
    margin-top: 10px;
    border-radius: 10px;
    overflow: auto;
}

header .song_slide nav  .search .search_results::-webkit-scrollbar{
    display: none;
}

header .song_slide nav  .search .search_results .card{
    width: 100%;
    min-height: 55px;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    background: rgb(184, 184, 184,.1);
    margin-bottom: 5px;
    text-decoration: none;
    border-radius: 7px;
    display: none;
    justify-content: space-between;
}

header .song_slide nav  .search .search_results .card img{
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    margin-left: 10px;
}

header .song_slide nav  .search .search_results .card .content{
    width: 80%;
    height: 100%;
    /* border: 1px solid #fff; */
    padding: 10px 30px; 
    font-size: 17px;
    font-weight: 600px;
    color: #fff;
}

header .song_slide nav  .search .search_results .card .content .subtitle{
    font-size: 13px;
    color: #a4a8b4;
    font-weight: 500px;
}

header .song_slide nav  .search .bi{
    font-size: 15px;
    padding: 3px 0px 0px 14px;
    
}


header .song_slide nav  .search input{
    
        background: none;
        outline: none;
        border: none;
        padding: 6px 10px;
        color: #fff;
        font-size: 15px;
}

header .song_slide nav   .user{
    position: relative;
    top: -7px;
    border-radius: 50%;
    cursor: pointer;
}
header .song_slide nav  .user .bi{
    position: absolute;
    font-size: 20px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px #131312;
}
header .song_slide .content{
    width: 90%;
    height: 30%;
    margin: auto;
    /* border: 1px solid #fff; */
    padding-top: 20px;
}
header .song_slide .content h1{
    font-size: 30px;
    font-weight: 600;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
}
header .song_slide .content p{
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;    
    color: #4c5262;
    font-family:sans-serif;
    margin: 5px;
}
header .song_slide .content .buttons{
    margin-top: 15px;
}
header .song_slide .content .buttons button{
    width: 130px;
    height: 30px;
    border: 2px solid #36e2ec;
    outline: none;
    border-radius: 20px;
    background: #5adae0;
    color: #fff;
    cursor: pointer;
    transition: .3s linear;
}
header .song_slide .content .buttons button:hover{
    border: 2px solid #36e2ec;
    background: none;
    color: #36e2ec;
}
header .song_slide .content .buttons button:nth-child(2){
    border: 2px solid #36e2ec;
    background: none;
    color: #36e2ec;
}
header .song_slide .content .buttons button:nth-child(2):hover{
    border: 2px solid #36e2ec;
    background: none;
    color: #fff;
}
header .song_slide .popular_song{
    width: 90%;
    height: auto;
    /* border: 1px solid #fff; */
    margin: auto;
}
header .song_slide .popular_song .h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .song_slide .popular_song .h4 .bi{
    color: #a4a8b4;
    cursor: pointer;
    font-size: 25px;
    transition: .3s linear;
}

header .song_slide .popular_song .h4 .bi:hover{
    color: #fff;
}

header .song_slide .popular_song .pop_song{
    width: 100%;
    height: 190px;
    margin-top: 15px;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
header .song_slide .popular_song .pop_song::-webkit-scrollbar{
    display: none;
}

header .song_slide .popular_song .pop_song li{
    min-width: 100px;
    height: 120px;
    list-style-type: none;
    margin-right: 50px;
    transition: .3s linear;
}

header .song_slide .popular_song .pop_song li:hover{
    background: rgb(105, 105, 170,.1);
}
header .song_slide .popular_song .pop_song li .img_play{
    position: relative;
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .song_slide .popular_song .pop_song li .img_play img{
    width: 100%;
    height: 100%;
}
header .song_slide .popular_song .pop_song li .img_play .bi{
    position: absolute;
    font-size: 30px;
    cursor: pointer;
    transition: .3s linear;
    opacity: 0;
}
header .song_slide .popular_song .pop_song li .img_play:hover .bi{
    opacity: 1;
}
header .song_slide .popular_song .pop_song li  h5{
    padding: 5px 0px 0px 5px;
    line-height: 15px;
    font-size: 13px;
}
header .song_slide .popular_song .pop_song li  h5 .subtitle{
        font-size: 9px;
        color: #4c5262;
}


header .song_slide .popular_artists{
    width: 90%;
    height: auto;
    /* border: 1px solid #fff; */
    margin: auto;
}
header .song_slide .popular_artists .h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .song_slide .popular_artists .h4 .bi{
    color: #a4a8b4;
    cursor: pointer;
    font-size: 25px;
    transition: .3s linear;
}

header .song_slide .popular_artists .h4 .bi:hover{
    color: #fff;
}
header .song_slide .popular_artists .item{
   width: 100%;
   height: auto;
   margin-top: 10px;
   display: flex;
   overflow-x: auto;
   scroll-behavior: smooth;
   
}
header .song_slide .popular_artists .item::-webkit-scrollbar{
    display: none;  
}

header .song_slide .popular_artists .item li{
    list-style-type: none;
    position: relative;
    min-width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer ;
}
header .song_slide .popular_artists .item li img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
}



                    /* login system */

header .left_bx1 , .right_bx1{
    position: relative;
    width: 60%;
    height: 100%;
    /* border: 1px solid #fff; */
    background: #0b1320;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .left_bx1 {
    width: 40%;
    background: #fff;
    box-shadow: 5px 0px 2px #090f1f;
}
header .left_bx1 .content {
    width: 65%;
    height: auto;
    /* border: 1px solid #000; */
    padding: 25px 20px;
    background: #fff;
}
header .left_bx1 .content h3{
    margin-bottom: 30px;
    color: rgb(54, 53, 53);
    font-size: 27px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
}
header .left_bx1 .content .card{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
  
}
header .left_bx1 .content .card label{
    font-size: 14px;
}
header .left_bx1 .content .card input{
    width: 100%;
    padding: 6px 10px;
    border: 1px solid rgb(154, 154,154);        
    background:  rgb(238, 238,238);
    margin-top: 5px;
    border-radius: 5px;
}
header .left_bx1 .content .submit{
    margin-top: 30px;
    padding: 8px 20px;
    font-size: 16px;
    color: #fff;
    background: #111727;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
}
header .left_bx1 .content .submit:hover{
    background: #111d3b;    
}
header .left_bx1 .content .check{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
header .left_bx1 .content .check input[type="checkbox"]{
    border: 1px solid #111727;
    width: 15px;
    height: 15px;
    animation: pop ease-in .2s;
}
@keyframes pop {
    0% { opacity:0; }
    75% {opacity:1; }
    100% { transform: scale(1.2); }
  }
header .left_bx1 .content .check span{
    margin-left: 5px;
    font-size: 14px;
}

header .left_bx1 .content p{
    margin-top: 80px;
    text-align: center;
    font-size: 15px;
}   

header .left_bx1 .content p a{
    text-decoration: none;
    color: #5adae0;
    font-weight: bold;
}   
header .right_bx1 h3{
    position: absolute;
    background: #5adae0;
    color: #000;
    right: 0;
    bottom: 20px;
    padding: 3px 10px;
    border-radius: 5px 0px 0px 5px;
    font-size: 15px;
}   





